
.headerTop__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.3em;
    background-color: var(--white);
}

.headerTop__wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.call{
    display: flex;
    align-items: center;
    justify-content: center;
}

.call a, .icon{
    color: var(--textColorSoft);
    font-size: .7em;
}

.call .iconCall{
    margin-right: .5em;
    font-size: .9em;
}

.otherInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.otherInfo a, .icon{
    font-size: .8em;
    color: var(--textColorSoft);
}
.lang{
    position: relative;
}

.langCon{
    background: var(--white);
    color: var(--logo);
    padding: .4em;
    border-radius: .2em;
    font-size: 1em;
    position: absolute;
    gap: .5em;
    align-items: center;
    z-index: 9;
    width: 4em;
    right: 0;  
    transition: all 1s ease-in-out; 
}

.langCon a{
    color: var(--blue);
}