.Home__body{
    display: flex;
    margin-top: 2em;
    width: 100%;
}

.home__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}


.newsLetter__container{
    background-color: var(--blue);
    padding: 1em;
}

.benefits__container{
    margin-top: 2em;
}

.footer__container{
    margin-top: 2em;
}